<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Re.Leaf || Home Page</title>

    <!-- ================================================================
        ***Favicon***
    ================================================================= -->

    <link rel="shortcut icon" type="image/png" th:href="@{..//images/fevicon.png}">

    <!-- ================================================================
        ***CSS File***
    ================================================================= -->
    <!-- ================= *** Google Font-Rubik *** ======================= -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i"
          rel="stylesheet">

    <!-- ================= *** Animate CSS *** ======================= -->
    <link th:href="@{/../css/animate.min.css}" rel="stylesheet" type="text/css">

    <!-- ================= *** Bootstrap CSS *** ===================== -->
    <link th:href="@{/../css/bootstrap.min.css}" rel="stylesheet" type="text/css">

    <!-- ================= *** Meanmenu CSS *** ===================== -->
    <link th:href="@{/../css/meanmenu.css}" rel="stylesheet" type="text/css">

    <!-- ================= *** Hover CSS *** ================== -->
    <link th:href="@{/../css/hover-min.css}" rel="stylesheet" type="text/css">

    <!-- ================= *** Font-awesome CSS *** ======================= -->
    <link th:href="@{/../css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <!-- ================= *** bar CSS *** =========================== -->
    <link th:href="@{/../css/bar.css}" rel="stylesheet" type="text/css">
    <!-- ================= *** Owl Carousel CSS *** ================== -->
    <link th:href="@{/../css/owl.carousel.css}" rel="stylesheet" type="text/css">

    <!-- ================= *** Main CSS *** ========================== -->

    <link th:href="@{/../css/style.css}" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="home">
<!--<div id="preloader">-->
<!--<div class="preloader_spinner"></div>-->
<!--</div>-->
<!-- preloader end -->
<!-- ==========================================================
    *Header_area start
============================================================ -->
<header>
    <div class="romana_header_top">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-xs-12 header-top-left">
                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>ReLeaf@ReLeaf.com</a>
                    <a href="#"><i class="fa fa-phone" aria-hidden="true"></i>555-123-4567</a>
                </div>
                <!--&lt;!&ndash; column End &ndash;&gt;-->
                <div class="col-sm-5 col-xs-12 text-right header-top-right">
                    <a href="https://www.facebook.com/reliefweb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/reliefweb"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/company/reliefweb"><i class="fa fa-skype" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/channel/UC4RQutFVU_1OSNtOzGyBfGw"><i class="fa fa-google-plus" aria-hidden="true"></i></a>

                </div>
                <!-- column End -->
            </div>
            <!-- row End -->
        </div>
        <!-- container End -->
    </div>
    <!-- Header-Top End -->
    <div class="romana_header_bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-6">
                    <div class="romana_logo">
                        <a href="index-2.html"><img th:src="@{../images/logo.png}" alt=""></a>
                    </div>
                </div>
                <!-- column End -->
                <div class="col-sm-10">
                    <nav>
                        <ul class="main_menu">
                            <li><a href="index-2.html">Home</a></li>
                            <li><a href="#">causes</a>
                                <ul class="sub_menu">
                                    <li><a href="causes.html">cause page</a></li>
                                    <li><a href="causes-detail.html">cause detail</a></li>
                                </ul>
                            </li>
                            <li><a href="#">pages</a>
                                <ul class="sub_menu">
                                    <li><a href="about.html">about page</a></li>
                                    <li><a href="volunteer.html">volunteer page</a></li>
                                    <li><a href="donation.html">donation page</a></li>
                                    <li><a href="testimonial.html">testimonial</a></li>
                                    <li><a href="404.html">404 page</a></li>
                                </ul>
                            </li>
                            <li><a href="#">blog</a>
                                <ul class="sub_menu">
                                    <li><a href="blog.html">blog page</a></li>
                                    <li><a href="disasterdetails.html">blog detail</a></li>
                                </ul>
                            </li>
                            <li class="search_expand"><a href="#"><i class="fa fa-search"></i></a>
                                <div class="search">
                                    <form action="#">
                                        <input id="search" name="search" type="text" placeholder="Search...">
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <!-- nav End -->
                </div>
                <!-- column End -->
            </div>
            <!-- row End -->
        </div>
        <!-- container End -->
    </div>
    <!-- Header Bottom End -->
</header>
<!-- Header End -->
<!-- ==========================================================
*Hero_area start
============================================================ -->
<section class="romana_hero_area">
    <div class="hero_slider">
        <div class="hero_slider_bg" style="background-image:url(/images/leafhands.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="romana_hero_text">
                            <h1>Replanting hope, around the world and in your neighborhood.</h1>
                            <a th:href="@{/donation/} + ${fieldsList.get(0).id}" class="donate_btn hvr-sweep-to-bottom">Donate to most recent cause</a>
                        </div>
                    </div>
                    <!-- column end -->
                </div>
                <!-- row end -->
            </div>
            <!-- container end -->
        </div>
        <!-- item one end -->
        <!--<div class="hero_slider_bg" style="background-image:url(static/images/slider_bg2.jpg)">-->
        <!--<div class="container">-->
        <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
        <!--<div class="romana_hero_text">-->
        <!--<h1>Let your life be an inspiration help us to-->
        <!--give food to 100+ childrens.</h1>-->
        <!--<a href="donation.html" class="hvr-sweep-to-bottom common_btn">Donate Now <i class="fa fa-long-arrow-right"></i></a>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; column end &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; row end &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; container end &ndash;&gt;-->
        <!--</div>-->
        <!-- item two end -->
    </div>
</section>
<!-- HeroSlider area end -->
<!-- ==========================================================
*romana_save_life_area start
============================================================ -->
<!--<div class="romana_save_life_area spt100">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-sm-3">-->
<!--<div class="romana_section_title save_life_st">-->
<!--<h2>Save the life to make the better world.</h2>-->
<!--</div>div-->
<!--</div>-->
<!--&lt;!&ndash; column End &ndash;&gt;-->
<!--<div class="col-sm-5">-->
<!--<div class="tab_area">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<ul class="tabs">-->
<!--<li class="tab-link current" data-tab="tab-1">DONATION</li>-->
<!--<li class="tab-link" data-tab="tab-2">VOLUNTEER</li>-->
<!--<li class="tab-link" data-tab="tab-3">MAKE A GIFT</li>-->
<!--</ul>-->
<!--<div id="tab-1" class="tab-content current">-->
<!--<p>Duis autem vel eum iriure dolor hendrer in vutate vesseum molestie consequat, vel illum dolore eu feugiat nulla fac at vero eros et accusan et iusto odio dignissim blandit mei dolore eu feugiat nulla facat vero eros et accusan et iusto nt luptatum zzril delenit augue duis.</p>-->
<!--<p><span>Duis autem vium eum iriure dolor in hendrer vutate molestie consequat, vel illum dolore eu feugiat accumsan et iusto odio dignissim.</span></p>-->
<!--</div>-->
<!--<div id="tab-2" class="tab-content">-->
<!--<p>dolor in hendrer in vutate vesse molestie consequat, vel illum dolore Duis autem vel eum iriure .</p>-->
<!--<p><span>Duis autem vel eum iriure dolor in hendrer in vutate molestie consequat, vel illum dolore eu feugiat nul at vero</span></p>-->
<!--</div>-->
<!--<div id="tab-3" class="tab-content">-->
<!--<p>Duis autem vel eum iriure dolor in hendrer in vutate vesse molestie consequat, vel illum dolore eu feugiat nulla fac at ver dolore eu feugiat nulla facat vero eros et accusan et iusto nt luptatum</p>-->
<!--<p><span>Duis autem vel eum iriure dolor in hendrer in vutate molestie consequat</span></p>-->
<!--</div>-->
<!--<div id="tab-4" class="tab-content">-->
<!--<p>Lorem ipsum dolor sit amet</p>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; column End &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; row End &ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; column End &ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-sm-4">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="save_life_img" style="background-image:url(static/images/save_life_img.jpg)">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="save_life_text">&ndash;&gt;-->
<!--&lt;!&ndash;<h4>We are served since <span>22+ years</span> to helpness people with trust and we&ndash;&gt;-->
<!--&lt;!&ndash;are happy.</h4>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; column End &ndash;&gt;&ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; row End &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; container End &ndash;&gt;-->
<!--</div>-->
<!-- ==========================================================
4.*romana_cause_area start
============================================================ -->
<div class="romana_cause_area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="romana_section_title text-center">
                    <h2>Global Causes</h2>
                    <p>These are the most recent causes in need of Re.Leaf.</p>
                </div>
            </div>
            <!-- column End -->
        </div>
        <!-- row End -->
        <div class="row ">
                <div th:each="disasterItems : ${fieldsList}">
                    <div class="col-sm-4">
                        <div class="romana_single_cause_text_img mh480">
                            <!--<div class="romana_cause_img" style="background-image:url(static/images/cause_img1.jpg)"></div>-->
                            <div class="romana_single_cause_text">
                                <div class="romana_raise_goal clearfix">
                                    <div class="romana_raise_left">
                                        <p>Raised: <span>$2200</span></p>
                                    </div>
                                    <div class="romana_raise_right">
                                        <p>goal: <span>$2500</span></p>
                                    </div>
                                </div>
                                <div id="bar3" class="barfiller">
                                    <div class="tipWrap">
                                        <span class="tip"></span>
                                    </div>
                                    <span class="fill1 fill" data-percentage="60"></span>
                                </div>
                                <h3 th:text="${disasterItems.name}"><a href="cause-detail.html">Build school
                                    for children</a></h3>
                                <div><p th:text="${disasterItems.shortDescription}">Description Details</p>
                                    <div>
                                        <div class="romana_cause_btn">
                                            <a th:href="@{/details/} + ${disasterItems.id}" class="btn2">More Details</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <!-- romana_single_cause_text End -->
                        <!--</div>-->
                        <!--<div class="col-sm-4">-->
                        <!--<div class="romana_single_cause_text_img mh480">-->
                        <!--<div class="romana_cause_img" style="background-image:url(static/images/cause_img2.jpg)"></div>-->
                        <!--<div class="romana_single_cause_text">-->
                        <!--<div class="romana_raise_goal clearfix">-->
                        <!--<div class="romana_raise_left">-->
                        <!--<p>Raised: <span>$2300</span></p>-->
                        <!--</div>-->
                        <!--<div class="romana_raise_right">-->
                        <!--<p>goal: <span>$2600</span></p>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div id="bar2" class="barfiller">-->
                        <!--<div class="tipWrap">-->
                        <!--<span class="tip"></span>-->
                        <!--</div>-->
                        <!--<span class="fill" data-percentage="70"></span>-->
                        <!--</div>-->

                        <!--<h3><a href="cause-detail.html">Education for a child to live</a></h3>-->
                        <!--<p>Duis autem vel eum iriure dolor in hendrert nmuen utate velit esse molestie vel illum.</p>-->
                        <!--<div class="romana_cause_btn">-->
                        <!--<a href="donation.html" class="btn2">Donate Now</a>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; romana_single_cause_text End &ndash;&gt;-->
                        <!--</div>-->
                        <!--<div class="col-sm-4 romana_single_cause_text_right">-->
                        <!--<div class="romana_single_cause_text_img romana_single_cause_border mh240">-->
                        <!--<div class="romana_single_cause_text">-->
                        <!--<div class="romana_raise_goal clearfix">-->
                        <!--<div class="romana_raise_left">-->
                        <!--<p>Raised: <span>$2400</span></p>-->
                        <!--</div>-->
                        <!--<div class="romana_raise_right">-->
                        <!--<p>goal: <span>$2500</span></p>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div id="bar1" class="barfiller">-->
                        <!--<div class="tipWrap">-->
                        <!--<span class="tip"></span>-->
                        <!--</div>-->
                        <!--<span class="fill" data-percentage="80"></span>-->
                        <!--</div>-->

                        <!--<h3><a href="cause-detail.html" >Help us to send vegetables</a></h3>-->
                        <!--<p>Duis autem vel eum iriure dolor in hendrert nmuen utate velit esse molestie vel illum.</p>-->
                        <!--<div class="romana_cause_btn">-->
                        <!--<a href="donation.html" class="btn2">Donate Now</a>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; romana_single_cause_text End &ndash;&gt;-->
                        <!--<div class="romana_single_cause_text_img mh240">-->
                        <!--<div class="romana_single_cause_text">-->
                        <!--<div class="romana_raise_goal clearfix">-->
                        <!--<div class="romana_raise_left">-->
                        <!--<p>Raised: <span>$2800</span></p>-->
                        <!--</div>-->
                        <!--<div class="romana_raise_right">-->
                        <!--<p>goal: <span>$2900</span></p>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div id="bar6" class="barfiller">-->
                        <!--<div class="tipWrap">-->
                        <!--<span class="tip"></span>-->
                        <!--</div>-->
                        <!--<span class="fill" data-percentage="50"></span>-->
                        <!--</div>-->

                        <!--<h3><a href="cause-detail.html">Clean water for rural poor</a></h3>-->
                        <!--<p>Duis autem vel eum iriure dolor in hendrert nmuen utate velit esse molestie vel illum.utem vel eum.</p>-->
                        <!--<div class="romana_cause_btn">-->
                        <!--<a href="donation.html" class="btn2">Donate Now</a>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!-- romana_single_cause_text End -->
                    </div>
                    <!-- column End -->
                </div>
                <!-- row End -->
            </div>
            <!-- container End -->
        </div>
        <!-- ==========================================================
        *romana_cta_area start
        ============================================================ -->
        <div class="romana_cta_area mt66">
            <div class="container">
                <div class="row ">
                    <div class="col-md-8 col-md-offset-1 col-sm-9">
                        <h2>Lets make the world better together.</h2>
                    </div>
                    <!-- column End -->
                    <div class="col-sm-3">
                        <a href="volunteer.html" class="hvr-box-shadow-outset common_btn">join with us<i
                                class="fa fa-long-arrow-right"></i></a>
                    </div>
                    <!-- column End -->
                </div>
            </div>
        </div>
        <!-- ==========================================================
        *romana_events_area start
        ============================================================ -->
        <div class="romana_events_area spt">
            <div class="container">
                <div class="row ">
                    <div class="col-md-6 col-sm-12">
                        <!--<h2>Upcoming Events</h2>-->
                        <!--<div class="single_event">-->
                            <!--<div class="single_event_left ">-->
                                <!--<div class="img_event">-->
                                    <!--<img src="../static/images/event_img1.jpg" alt="">-->
                                    <!--<div class="event_date">-->
                                        <!--<h3>22 <span>feb</span></h3>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="text_event">-->
                                <!--<a href="event-detail.html"><h3>Helping kids grow up stronger</h3></a>-->
                                <!--<div class="event_btns">-->
                                    <!--<p><i class="fa fa-clock-o" aria-hidden="true"></i>8:00 am - 5:00 pm</p>-->
                                    <!--<p><i class="fa fa-map-marker" aria-hidden="true"></i>Buffalo, New Yourk</p>-->
                                <!--</div>-->
                                <!--<div class="event_text">-->
                                    <!--<p></p>-->
                                    <!--<div class="event_btn">-->
                                        <!--<a href="event-detail.html" class="btn2">details</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; single_event End &ndash;&gt;-->
                        <!--<div class="single_event">-->
                            <!--<div class="single_event_left ">-->
                                <!--<div class="img_event">-->
                                    <!--<img src="../static/images/event_img2.jpg" alt="">-->
                                    <!--<div class="event_date">-->
                                        <!--<h3>25 <span>feb</span></h3>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="text_event">-->
                                <!--<a href="event-detail.html"><h3>Helping kids grow up stronger</h3></a>-->
                                <!--<div class="event_btns">-->
                                    <!--<p><i class="fa fa-clock-o" aria-hidden="true"></i>8:00 am - 5:00 pm</p>-->
                                    <!--<p><i class="fa fa-map-marker" aria-hidden="true"></i>Buffalo, New Yourk</p>-->
                                <!--</div>-->
                                <!--<div class="event_text">-->
                                    <!--<p>Duis autem vel eum iriure dolor in hendrerit invutm ate velit esse molestie-->
                                        <!--conseuat meum.</p>-->
                                    <!--<div class="event_btn">-->
                                        <!--<a href="event-detail.html" class="btn2">details</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; single_event End &ndash;&gt;-->
                    <!--</div>-->
                    <!-- column End -->
                    <div class="col-md-6 col-sm-12">
                        <!--<form action="https://formspree.io/crazycafe@gmail.com" method="post">-->
                            <!--<div class="common_input Volunteer_input">-->
                                <!--<h2>Become a Volunteer</h2>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-sm-6">-->
                                        <!--<input type="text" name="check_first_name" placeholder=" Name">-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-6">-->
                                        <!--<input type="email" name="check_last_name" placeholder="Email">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-sm-6">-->
                                        <!--<div class="select_option_one">-->
                                            <!--<select name="userSelect2" id="userSelect2" class="">-->
                                                <!--<option value="1">Gender</option>-->
                                                <!--<option value="2">Male</option>-->
                                                <!--<option value="3">Femail</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-6">-->
                                        <!--<div class="select_option_one">-->
                                            <!--<select name="userSelect" id="userSelect" class="">-->
                                                <!--<option value="1">Country</option>-->
                                                <!--<option value="2">Bangladesh</option>-->
                                                <!--<option value="3">Unitade Sate</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-sm-12">-->
                                        <!--<textarea name="c_textarea" id="c_textarea" cols="30" rows="10"-->
                                                  <!--placeholder="Message..."></textarea>-->
                                        <!--<div class="sub_submit">-->
                                            <!--<button type="submit" class="common_btn hvr-sweep-to-bottom">Apply Now<i-->
                                                    <!--class="fa fa-long-arrow-right"></i></button>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                        <!--</form>-->
                    </div>
                    <!-- column End -->
                </div>
            </div>
        </div>
        <!-- ==========================================================
        *romana_client_area start
        ============================================================ -->
        <!--<div class="romana_client_area sp">-->
        <!--<div class="container">-->
        <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
        <!--<div class="romana_section_title text-center">-->
        <!--<h2>What people <span>says</span> </h2>-->
        <!--<p>Duis autem vel eum iriure dolor in hendrer ammer vutate molestie conseuat amad vel illum dolore eu feuna</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; column End &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; row End &ndash;&gt;-->
        <!--<div class="row ">-->
        <!--<div class="col-xs-12">-->
        <!--<div class="romana_client_crsl">-->
        <!--<div class="romana_single_client_text_img">-->
        <!--<div class="romana_client_img"> <img src="../static/images/client_img1.jpg" alt="">-->
        <!--</div>-->
        <!--<div class="romana_single_client_text">-->
        <!--<p>Duis autem vel kinmeum iriure dolor hendrerit vulputa illum dolore blandit eu feugiat facilii at vero erost en praesent luptatum zzril delenit anyonm afad augmee cilisi. Nam liber tempor cum nobis.</p>-->
        <!--</div>-->
        <!--<div class="romana_client_title">-->
        <!--<h3>Rubel Hossen</h3>-->
        <!--<p>Graphic Designer</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; romana_single_client_text End &ndash;&gt;-->
        <!--<div class="romana_single_client_text_img">-->
        <!--<div class="romana_client_img"> <img src="../static/images/client_img2.jpg" alt="">-->
        <!--</div>-->
        <!--<div class="romana_single_client_text">-->
        <!--<p>Duis autem vel kinmeum iriure dolor hendrerit vulputa illum dolore blandit eu feugiat facilii at vero erost en praesent luptatum zzril delenit anyonm afad augmee cilisi. Nam liber tempor cum nobis.</p>-->
        <!--</div>-->
        <!--<div class="romana_client_title">-->
        <!--<h3>Romana Nasrin</h3>-->
        <!--<p>Webhost Lead</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; romana_single_client_text End &ndash;&gt;-->
        <!--<div class="romana_single_client_text_img">-->
        <!--<div class="romana_client_img"> <img src="../static/images/client_img1.jpg" alt="">-->
        <!--</div>-->
        <!--<div class="romana_single_client_text">-->
        <!--<p>Duis autem vel kinmeum iriure dolor hendrerit vulputa illum dolore blandit eu feugiat facilii at vero erost en praesent luptatum zzril delenit anyonm afad augmee cilisi. Nam liber tempor cum nobis.</p>-->
        <!--</div>-->
        <!--<div class="romana_client_title">-->
        <!--<h3>Delowar Hossen</h3>-->
        <!--<p>Webhost Lead</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; romana_single_client_text End &ndash;&gt;-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; column End &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; row End &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; container End &ndash;&gt;-->
        <!--</div>-->
        <!-- ==========================================================
        *romana_blog_area start
        ============================================================ -->
        <!--<div class="romana_blog_area spt">-->
        <!--<div class="container">-->
        <!--<div class="row ">-->
        <!--<div class="col-xs-12">-->
        <!--<div class="romana_section_title text-center">-->
        <!--<h2>Latest Blog</h2>-->
        <!--<p>Duis autem vel eum iriure dolor in hendrer ammer vutate molestie conseuat amad vel illum dolore eu feuna</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; column End &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; row End &ndash;&gt;-->
        <!--<div class="row ">-->
        <!--<div class="col-md-7 col-sm-12 romana_blog_left">-->
        <!--<div class="single_blog">-->
        <!--<div class="blog_img_1" style="background-image:url(static/images/blog_img1.jpg)"></div>-->
        <!--<div class="single_blog_text">-->
        <!--<a href="disasterdetails.html"><h3>Children national helping kids.</h3></a>-->
        <!--<div class="blog_btns">-->
        <!--<a><i class="fa fa-user" aria-hidden="true"></i>Mashok Khan</a>-->
        <!--<a><i class="fa fa-calendar" aria-hidden="true"></i>08th June, 2017</a>-->
        <!--</div>-->
        <!--<div class="blog_text">-->
        <!--<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse consequat, vel illum dolore eu feugiat nulla facilisis at vero.</p>-->
        <!--<div class="blog_btn">-->
        <!--<a href="disasterdetails.html" class="btn2">view detail</a>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="single_blog">-->
        <!--<div class="blog_img_1" style="background-image:url(static/images/blog_img2.jpg)"></div>-->
        <!--<div class="single_blog_text">-->
        <!--<a href="disasterdetails.html"><h3>How to use international network</h3></a>-->
        <!--<div class="blog_btns">-->
        <!--<a><i class="fa fa-user" aria-hidden="true"></i>Mashok Khan</a>-->
        <!--<a><i class="fa fa-calendar" aria-hidden="true"></i>08th June, 2017</a>-->
        <!--</div>-->
        <!--<div class="blog_text">-->
        <!--<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse consequat, vel illum dolore eu feugiat nulla facilisis at vero.</p>-->
        <!--<div class="blog_btn">-->
        <!--<a href="disasterdetails.html" class="btn2">view detail</a>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; column End &ndash;&gt;-->
        <!--<div class="col-md-5 col-sm-12 romana_blog_right">-->
        <!--<div class="single_blog">-->
        <!--<div class="blog_img_2" style="background-image:url(static/images/blog_img3.jpg)"></div>-->
        <!--<div class="single_blog_text">-->
        <!--<a href="disasterdetails.html"><h3>Gardening blog post title here</h3></a>-->
        <!--<div class="blog_btns">-->
        <!--<a><i class="fa fa-user" aria-hidden="true"></i>Mashok Khan</a>-->
        <!--<a><i class="fa fa-calendar" aria-hidden="true"></i>08th June, 2017</a>-->
        <!--</div>-->
        <!--<div class="blog_text">-->
        <!--<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit ameas molestie consequat, vel illum dolore eu feugiat nulla facilisis at eros.</p>-->
        <!--<div class="blog_btn">-->
        <!--<a href="disasterdetails.html" class="btn2">view detail</a>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; column End &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; row End &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; container End &ndash;&gt;-->
        <!--</div>-->
        <!-- ==========================================================
        *newsletter_area start
        ============================================================ -->
        <div class="newsletter_area">
            <div class="container">
                <div class="row ">
                    <div class="col-md-6 col-sm-12">
                        <div class="newsletter_text">
                            <h2>Subscribe for newsletter</h2>
                            <p>Duis autem vel eum iriure dolor in amader hendrerit in vulutate velit esse</p>
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-md-4 col-sm-8">
                        <form action="#">
                            <input type="email" name="sub_email" placeholder="Email here...">
                        </form>
                    </div>
                    <!-- column End -->
                    <div class="col-md-2 col-sm-4">
                        <a href="volunteer.html" class="hvr-box-shadow-outset common_btn">SUBSCRIBE NOW</a>
                    </div>
                    <!-- column End -->
                </div>
            </div>
        </div>
        <!-- ==================================================
        *Footer_area start
        =================================================== -->
        <footer class="romana_footer_area romana_section_padding">
            <div class="romana_footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="footer_widget footer_widget_text">
                                <a href="index-2.html"><img th:src="@{../images/logo-reversed.png}" alt="logo"></a>
                                <p>Replanting hope, around the world and in your neighborhood.</p>
                                <a href="#"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Grant Ave.
                                    Central New Road, 8360</a>
                                <a href="mailto:gardenhouse@gmail.com"> <span><i class="fa fa-envelope-o"
                                                                                 aria-hidden="true"></i></span>gardenhouse@gmail.com</a>
                                <a href="tel:+88075975854"><span><i class="fa fa-phone" aria-hidden="true"></i></span>+88
                                    075 975 854</a>
                            </div>
                        </div>
                        <!-- column End -->
                        <div class="col-sm-3">
                            <div class="footer_widget footer_widget_il">
                                <h2>Inportant Links</h2>
                                <ul>
                                    <li><a href="#">Support Forums</a></li>
                                    <li><a href="#">Product Support</a></li>
                                    <li><a href="#">Knowladge Base</a></li>
                                    <li><a href="#">Terms & Condation</a></li>
                                    <li><a href="#">Requist a Quote</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- column End -->
                        <div class="col-sm-2">
                            <div class="footer_widget footer_widget_sl">
                                <h2>Social Links</h2>
                                <ul>
                                    <li><a href="#">facebook</a></li>
                                    <li><a href="#">Google+</a></li>
                                    <li><a href="#">Dribbble</a></li>
                                    <li><a href="#">Behance</a></li>
                                    <li><a href="#">Themeforest</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- column End -->
                        <div class="col-sm-3">
                            <div class="footer_widget footer_widget_gl">
                                <a href="gallery.html"><h2>our gallery</h2></a>
                                <a href="gallery.html"><img src="../static/images/home_gallery.png" alt=""></a>
                            </div>
                        </div>
                        <!-- column End -->
                    </div>
                </div>
            </div>
            <!--&lt;!&ndash; footer_top End &ndash;&gt;-->
            <!--<div class="romana_footer_bottom">-->
                <!--<div class="container">-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-6">-->
                            <!--<div class="romana_footer_bottom_text">-->
                                <!--<p>Copyrigth <span>&copy;</span> 2017, All Right Reserved</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; column End &ndash;&gt;-->
                        <!--<div class="col-sm-6">-->
                            <!--<div class="romana_footer_bottom_text text-right">-->
                                <!--<p>Designed by: <a href="#">Crazycafe</a></p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; column End &ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; row End &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; container End &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; footer_bottom End &ndash;&gt;-->
        </footer>
        <!-- ======================================================
            ***Js Files***
        =========================================================== -->

        <!-- ================= Main Js ==================== -->
        <script src="../static/js/jquery-3.1.0.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->

        <!-- ================= Bootstrap min Js =========== -->
        <script src="../static/js/bootstrap.min.js"></script>

        <!-- ================= Meanmenu Js =========== -->
        <script src="../static/js/jquery.meanmenu.js"></script>

        <!-- ================= owl carousel min Js ======== -->
        <script src="../static/js/owl.carousel.min.js"></script>

        <!-- ================= barfiller  Js ============== -->
        <script src="../static/js/jquery.barfiller.js"></script>

        <!-- ================= Active Js ================== -->
        <script src="../static/js/active.js"></script>
</body>


</html>